<div class="full-newsletter" style="<%= "background: values[:background]" if values[:background].present? %>" id="full-newsletter<%= "-" + order_number.to_s if defined?(order_number) %>">

  <div class="col-md-12">

    <h3 class="full-newsletter__header"><%= values[:title] %></h3>

  </div>

  <div class="col-md-12">

    <div class="full-newsletter__form">

      <%= form_tag send("subscribe_#{site.site.id}_path"), method: :post, role: 'form', remote: :true, class: "w-newsletter__form", data: { 'event-action' => 'form_submit' } do |f| %>

        <div class="col-lg-6 offset-lg-3">

          <div class="row align-items-end">

            <div class="col-sm-9">

              <div class="input-wrapper">

                <%= email_field_tag :email, nil, class: 'full-newsletter__input form-input', id: 'newsletter_email', placeholder: values[:placeholder], :required => true, "aria-label" => values[:placeholder] %>

              </div>

            </div>

            <div class="col-sm-3">

              <%= button_tag values[:button_text], class: 'btn btn-ready btn-small full-newsletter__btn w-newsletter__submit' %>

            </div>

          </div>
          <div class="col-sm-12">

            <%= render 'shared/privacy_note_checkbox' %>

          </div>

        </div>

      <% end %>

    </div>

  </div>

</div>


<!-- ./full-newsletter -->
