<%= render partial: 'bookmarks/index/head' %>

<%= render partial: 'bookmarks/index/page_headlines' %>

<%= render partial: 'bookmarks/index/card_alert' %>

<%= render partial: 'bookmarks/index/card_starter_guide' %>

<div class="card card-bookmarks-index pannacotta"></div>

<!-- /.card card-bookmarks-index pannacotta -->

<%= render partial: 'bookmarks/index/sidebar' %>
