<div class="search-header">

  <form action="<%= dynamic_url_for('search', 'index') %>" class="form-inline hidden-xs" role="search">

    <div class="form-group">

      <input autofocus="autofocus" autocomplete="off" class="form-control" data-autocomplete-url="<%= url_for send("searches_shop_autocomplete_#{@site.site.id}_path") %>" id="input_search_header" name="query" placeholder="<%= t(:SEARCH_PLACEHOLDER, default: 'Type a store e.g. Amazon, Ebay, Nike', shops: search_box_placeholder_shops) %>" required type="search" aria-label="<%= t(:SEARCH_PLACEHOLDER, default: 'Type a store e.g. Amazon, Ebay, Nike') %>">

    </div>
    <!-- /.form-group -->

    <button class="btn btn-ready" type="submit" aria-label="<%= t(:SEARCH_BUTTON, default: 'Search') %>">

      <i class="roberto roberto-search"></i>

    </button>

  </form>
  <!-- /.form-inline hidden-xs -->

</div>
<!-- /.search-header -->

<div class="hidden hidden-xs" id="search-header-results"></div>
<!-- /#search-header-results.hidden hidden-xs -->
