
  <div class="col-sm-12">

    <div class="box bordered-box blue-border">

      <div class="box-header blue-background">

        <div class="title">

          <i class="icon-edit"></i>

          Coupon Code Import Form

        </div>

      </div>

      <div class="box-content">

        <%= form_for [:admin, @coupon_code_import], html: {class: 'form form-horizontal', multipart: true, style: 'margin-bottom: 0'} do |f| %>

          <%= render partial: 'admin/shared/form_errors', locals: {ancestor: @coupon_code_import} %>

          <div class="form-group">

            <%= f.label :file, class: 'col-md-2 control-label' %>

            <div class="col-md-5">

              <%= f.file_field :file, class: 'form-control' %>

            </div>

          </div>

          <div class="form-actions form-actions-padding-sm">

            <div class="row">

              <div class="col-md-10 col-md-offset-2">

                <%= f.submit 'Import', class: 'btn btn-primary' if can? :create, CouponCodeImport %>

              </div>

            </div>

          </div>

        <% end %>

      </div>

    </div>

  </div>

