<div class="form-group">

  <%= ff.label :placeholder, class: 'col-md-2 control-label' %>

  <div class="col-md-10">

    <%= ff.text_field :placeholder, class: 'form-control' %>

  </div>

</div>

<div class="form-group">

  <%= ff.label :button_text, class: 'col-md-2 control-label' %>

  <div class="col-md-10">

    <%= ff.text_field :button_text, class: 'form-control' %>

  </div>

</div>

<div class="form-group">

  <%= ff.label :background, class: 'col-md-2 control-label' %>

  <div class="col-md-10">

    <%= ff.text_field :background, class: 'form-control' %>

    <div class="help-block">Default: Theme Styles; compiles into css background attribute.</div>

  </div>

</div>
