<div class="form-group">
  <%= ff.label :content, class: 'col-md-2 control-label' %>
  <div class="col-md-10">
      <%= ff.text_area :content, class: 'form-control tinymce text_area' %>
  </div>
</div>
<div class="form-group">
  <%= ff.label :columns, class: 'col-md-2 control-label' %>
  <div class="col-md-10">
    <%= ff.select :columns, [1,2,3], {}, class: 'select2 form-control' %>
  </div>
</div>
<div class="form-group">
  <%= ff.label :without_header, class: 'col-md-2 control-label' %>
  <div class="col-md-10">
      <%= ff.check_box :without_header, class: 'form-control check_box' %>
  </div>
</div>
<div class="form-group">
  <%= ff.label :transparent_widget, class: 'col-md-2 control-label' %>
  <div class="col-md-10">
      <%= ff.check_box :transparent_widget, class: 'form-control check_box' %>
  </div>
</div>
