<div class="modal-header border-top-ready text-right">

  <button aria-label="<%= t(:CLOSE, default: 'Close') %>" class="btn btn-white close" data-dismiss="modal" type="button">

      <span aria-hidden="true">

        <i class="roberto roberto-remove"></i>

      </span>

  </button>

</div>

<!-- modal-header -->

<div class="modal-body">

  <h5><%= raw t(:HELP_1_HEAD) %></h5>

  <%= raw t(:HELP_1_TEXT) %>

  <hr>

  <h5><%= raw t(:HELP_2_HEAD) %></h5>

  <%= raw t(:HELP_2_TEXT) %>

  <hr>

  <h5><%= raw t(:HELP_3_HEAD) %></h5>

  <%= raw t(:HELP_3_TEXT) %>

</div>

<!-- /.modal-body -->
