<%- h1 = coupon.shop.try(:html_document).try(:h1) -%>

<% if is_ad_code %>

  <%= values[:ad_code].html_safe %>

<%- else -%>

  <a class="w-featured__frame" <%= clickout_params_for_element(coupon) %> title="<%= coupon.title %>">

    <%- if is_teaser -%>

      <img class="w-featured__hero img-responsive" src="" data-normal="<%= coupon.widget_or_shop_header %>" alt="<%= h1 %>">

    <%- end -%>

    <div class="w-featured__footer">

      <% if coupon.use_logo_on_home_page && coupon.try(:logo_url, '_110x110') %>

        <img alt="<%= h1 %>" class="img-responsive w-featured__logo" height="220" src="" data-normal="<%= coupon.logo_url('_110x110') %>" width="220">

      <% else %>

        <img alt="<%= h1 %>" class="img-responsive w-featured__logo" height="220" src="" data-normal="<%= coupon.shop.logo_url('_110x110') %>" width="220">

      <% end %>


      <%- if widget.featured_coupons_type == 'last_chance' -%>


        <div class="w-featured__content">

          <span class="w-featured__time" data-time="<%= coupon.end_date.to_time.iso8601 %>">

              <span class="hours">00</span>:<span class="minutes">00</span>:<span class="seconds">00</span>

            </span>

          <span class="w-featured__title">

            <%= coupon.title.truncate(60) %>

          </span>

          <%= render partial: "coupons/shared/type", locals: { coupon: coupon } %>

        </div>


      <%- else -%>

        <div class="w-featured__content">

          <span class="w-featured__shop-title"><%= coupon.shop.title %></span>

          <%= coupon.title.truncate(60) %>

          <%= render partial: "coupons/shared/type", locals: { coupon: coupon } %>

        </div>

      <%- end -%>

    </div>
  </a>

<%- end -%>
