<!-- .f-widget.f-widget-one -->

<div class="f-widget f-widget--one">

  <div class="f-widget__header">

    <h4 class="f-widget__title"><%= t(:NAVIGATION_COUPONCODES, default: 'Discount Coupons') %></h4>

  </div>

  <div class="f-widget__content">

    <ul class="f-widget__list">

      <li class="f-widget__item">

        <%= link_to t(:TOP_20, default: 'Top Coupons'), dynamic_url_for('coupons', 'index', type: 'top') %>

      </li>

      <li class="f-widget__item">

        <%= link_to t(:NEW_COUPONCODES, default: 'New Coupons'), dynamic_url_for('coupons', 'index', type: 'new') %>

      </li>

      <li class="f-widget__item">

        <%= link_to t(:EXPIRING_COUPONS, default: 'Expiring Coupons'), dynamic_url_for('coupons', 'index', type: 'expiring') %>

      </li>

      <li class="f-widget__item">

        <%= link_to t(:SHOPS, default: 'Shops'), dynamic_url_for('shops', 'index') %>

      </li>

      <li class="f-widget__item">

        <%= link_to t(:CATEGORIES, default: 'Categories'), dynamic_url_for('categories', 'index') %>

      </li>

      <%- if footer_campaigns.present? && footer_campaigns.size == 1 -%>

        <% campaign = footer_campaigns.first %>

        <li class="f-widget__item">

          <%= link_to campaign.nav_title_or_name, dynamic_campaign_url_for(campaign) %>

        </li>

      <%- end -%>

      <%- if footer_shops.present? && footer_shops.size == 1 -%>

        <% shop = footer_shops.first %>

        <li class="f-widget__item">

          <span class="f-widget__item"></span>

          <%= link_to shop.anchor_text_or_title, dynamic_url_for('shops', 'show', slug: shop.slug) %>

        </li>

      <%- end -%>

    </ul>

  </div>

</div>

<!-- ./f-widget.f-widget-one -->
