<%=
#############
### Note: If you add NEW VARIABLES here please also update acts_as_custom_css_generator.rb@allowed_theme_vars - otherwise the
### variable wont get applied
#############
%>

<div class="col-sm-12 col-md-6" id="style">

  <div class="box bordered-box blue-border <%= 'box-collapsed' unless session[:last_setting] == 'style' %>">

    <div class="box-header red-background">

      <div class="title">

        <i class="icon-css3"></i>

        Style Settings

      </div>

      <div class="actions">

        <a class="btn box-collapse btn-xs btn-link" href="#">

          <i></i>

        </a>

      </div>

    </div>

    <div class="box-content">

      <%= form_for [:admin, @setting], method: :patch, html: {class: 'form form-horizontal', style: 'margin-bottom: 0'} do |f| %>

        <%= hidden_field_tag :option_type, 'style' %>

        <%= fields_for :style, @setting.style do |ff| %>

          <div class="form-group">

            <div class="col-sm-12">

              <%= ff.label :theme, 'Theme' %>

              <%= ff.select :theme, Option::get_select_options('themes', true), {}, class: 'form-control' %>

            </div>

          </div>

          <hr>

          <div class="form-group">

            <div class="col-sm-12">

              <%= ff.check_box :styles_enabled %>

              <%= ff.label 'Custom styles' %>

              <p class="help-block">

                <small class="text-muted">Enable custom styles in order to override theme defaults.</small>

              </p>

            </div>

          </div>

          <div class="form-group">

            <div class="col-sm-12">

              <%= ff.label :color_text %>

              <%= ff.text_field :color_text, class: 'form-control' %>

            </div>

          </div>

          <div class="form-group">

            <div class="col-sm-12">

              <%= ff.label :color_headline %>

              <%= ff.text_field :color_headline, class: 'form-control' %>

            </div>

          </div>

          <div class="form-group">

            <div class="col-sm-12">

              <%= ff.label :color_cloud %>

              <%= ff.text_field :color_cloud, class: 'form-control' %>

            </div>

          </div>

          <div class="form-group">

            <div class="col-sm-12">

              <%= ff.label :color_ready %>

              <%= ff.text_field :color_ready, class: 'form-control' %>

            </div>

          </div>

          <div class="form-group">

            <div class="col-sm-12">

              <%= ff.label :color_sky %>

              <%= ff.text_field :color_sky, class: 'form-control' %>

            </div>

          </div>

          <div class="form-group">

            <div class="col-sm-12">

              <%= ff.label :color_royal %>

              <%= ff.text_field :color_royal, class: 'form-control' %>

            </div>

          </div>

          <div class="form-group">

            <div class="col-sm-12">

              <%= ff.label :color_freedom %>

              <%= ff.text_field :color_freedom, class: 'form-control' %>

            </div>

          </div>

          <div class="form-actions form-actions-padding-sm">

            <div class="row">

              <div class="col-md-2">

                <%= f.submit 'Save', class: 'btn btn-primary btn-block' %>

              </div>

              <div class="col-md-4">

                <%= f.submit 'Restore Defaults', class: 'btn btn-danger btn-block' %>

              </div>

            </div>

          </div>

        <% end %>

      <% end %>

    </div>

  </div>

</div>
