  <div class="col-sm-12">

    <div class="box bordered-box blue-border">

      <div class="box-header green-background">

        <div class="title">

          <i class="icon-edit"></i>

          <b>Global</b> Shop Import

        </div>

      </div>

      <div class="box-content">

        <%= form_for [:admin, @shop_import], html: {class: 'form form-horizontal', multipart: true, style: 'margin-bottom: 0'} do |f| %>

          <%= render partial: 'admin/shared/form_errors', locals: {ancestor: @shop_import} %>

          <div class="form-group">

            <%= f.label 'Note:', class: 'col-md-2 control-label' %>

            <div class="col-md-5">

              <div class="help-block"><small>This is the NEW Shop Import Form. It allows you to upload shop to multiple sites at once. Be <b>careful</b> and add the "Site ID" column to your import file. Add one shop per site.</small></div>

            </div>

          </div>

          <div class="form-group">

            <%= f.label :file, class: 'col-md-2 control-label' %>

            <div class="col-md-5">

              <%= f.file_field :file, class: 'form-control' %>

            </div>

          </div>

          <div class="form-actions form-actions-padding-sm">

            <div class="row">

              <div class="col-md-10 col-md-offset-2">

                <%= f.submit 'Import', class: 'btn btn-success' if can? :create, ShopImport %>

                <%= link_to '<i class="icon icon-file"></i> Download Template'.html_safe, admin_shops_import_template_path, class: 'btn btn-inverse' %>

              </div>

            </div>

          </div>

        <% end %>

      </div>

    </div>

  </div>

