<% if shop.present? %>

  <p>

    <% if shop.title.present? %>

      <%= t(:GET_THE_BEST_SHOPTITLE_COUPONS_STRAIGHT_TO_YOUR_INBOX, default: 'Get the best <strong>{shop_title}</strong> coupons straight to your inbox!').gsub('{shop_title}', shop.title).html_safe %>

    <% else %>

      <%= t(:GET_THE_BEST_COUPONS_STRAIGHT_TO_YOUR_INBOX, default: 'Get the best coupons straight to your inbox!') %>

    <% end %>

  </p>

  <%= form_tag send("subscribe_#{@site.site.id}_path"), class: 'form-inline', method: :post, role: 'form', data:{'event-action' => 'form_submit'} do |f| %>

    <div class="form-group">

      <div class="input-wrapper">

        <%= email_field_tag :email, nil, class: 'form-control', id: 'empty_shop_newsletter_email', :required => true, placeholder: t(:TYPE_HERE_YOUR_EMAIL, default: 'Type here your email'), "aria-label" => t(:TYPE_HERE_YOUR_EMAIL, default: 'Type here your email') %>

      </div>
      <!-- /.input-wrapper bg-ashes -->

    </div>
    <!-- /.form-group -->

    <%= button_tag(t(:SUBSCRIBE, default: 'Subscribe'), class: 'btn btn-cloud btn-small') %>

    <p class="privacy-note">

      <%= render 'shared/privacy_note_checkbox' %>

      <% if (t(:BY_SUBSCRIBING_YOU_ACCEPT_OUR_PRIVACY_POLICY, default: 'By subscribing you accept our <a href="%{policy_url}" rel="nofollow" target="_blank">privacy policy</a>', policy_url: policy_url).html_safe.length > 80) %>
        <span class="show-newsletter-details" data-more-text="<%= t(:MORE_DETAILS, default: 'More details') %>" data-less-text="<%= t(:LESS_DETAILS, default: 'Less details') %>">
          <%= t(:MORE_DETAILS, default: 'More details') %>
        </span>
      <% end %>

    </p>

  <% end %>

  <div class="envelope"></div>

<% end %>
