<div class="row">

  <div class="col-xs-12">

    <div class="shop-description">

      <% if @h2.present? %>

        <h2><%= @h2 %></h2>

      <%- else -%>

        <h2><%= t(:ABOUT, default: 'About') %> <%= shop.title %></h2>

      <% end %>

      <%- if @welcome_text.present? -%>

        <p>

          <% if @welcome_text.length > 220 %>

            <span class="text-truncated"><%= @welcome_text.truncate(180).html_safe %></span>

            <span class="text-full hidden"><%= @welcome_text.html_safe %></span>

            <a href="#" class="show-details text-ellipsis" data-more-text="[<%= t(:MORE_DETAILS, default: 'More details') %>]" data-less-text="[<%= t(:LESS_DETAILS, default: 'Less details') %>]">[<%= t(:MORE_DETAILS, default: 'More details') %>]</a>

          <%- else -%>

            <span class="text"><%= @welcome_text.html_safe %></span>

          <%- end -%>

        </p>

      <%- end -%>

    </div>

  </div>

</div>
